@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: grid;
  place-items: center;
  font-family: 'Montserrat';
}

.button {
  background-color: #2e9eff;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px #00000055;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  user-select: none;
}

.grey {
  background-color: #999;
}

.options {
  margin: 25px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  user-select: none;
}

.option p {
  max-width: 200px;
}

.option::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333;
}

.selected::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333;
  background-color: #9cc;
}

.buttons {
  display: flex;
  gap: 50px
}

.question {
  max-width: 650px;
}
